.favorites {
	display: flex;
	align-self: center;
	justify-self: end;
	@media (max-width: 768px) {
		grid-column-start: one;
  		grid-column-end: two;
		justify-self: start;
	}

	.button {
		background-color: transparent;
		width: 50px;
		position: relative;
		cursor: pointer;
		@media (max-width: 1400px) {
			width: calc(35px + (50 - 35) * ((100vw - 320px) / (1400 - 320)));
		}
	}

	.icon {
		fill: var(--green)
	}

	.quantity {
		position: absolute;
		bottom: 5px;
		right: 0px;
		font-size: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--brown);
		border-radius: 50%;
		width: 18px;
		height: 18px;
		font-weight: 700;
		@media (max-width: 1400px) {
			width: calc(15px + (18 - 15) * ((100vw - 768px) / (1400 - 768)));
			height: calc(15px + (18 - 15) * ((100vw - 768px) / (1400 - 768)));
			font-size: calc(8px + (10 - 8) * ((100vw - 768px) / (1400 - 768)));
		}
		@media (max-width: 768px) {
			width: 16px;
			height: 16px;
			font-size: 10px;
		}
	}
}