.home {
	text-align: center;
	padding-bottom: 80px;
}

.drinks {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 60px;
	height: 30px;

	@media (max-width: 450px) {
		display: flex;
		flex-direction: column;
	}

	.sort {
		text-align: center;
		color: var(--green);
		background-color: transparent;
		//margin-bottom: 20px;
		cursor: pointer;

		.icon {
			transition: all 0.6s ease;
			width: 18px;
			fill: var(--green);
			margin: 0px 3px 0px 0px;
		}

		.text {
			transition: all 0.6s ease;
			font-weight: 400;
			font-size: 20px;
			letter-spacing: 1px;
			line-height: 20px;

			@media (max-width: 1400px) {
				font-size: calc(15px + (20 - 15) * ((100vw - 680px) / (1400 - 680)));
			}

			@media (max-width: 450px) {
				font-size: 17px;
			}
		}

		&.active {
			.icon {
				transition: all 0.6s ease;
				width: 22px;
				margin: 0px 5px 0px 0px;
				fill: var(--brown)
			}

			.text {
				transition: all 0.6s ease;
				font-weight: 600;
				font-size: 28px;
				letter-spacing: 3px;
				line-height: 30px;
				color: var(--brown);

				@media (max-width: 1400px) {
					font-size: calc(20px + (28 - 20) * ((100vw - 680px) / (1400 - 680)));
				}

				@media (max-width: 450px) {
					font-size: 21px;
					letter-spacing: 2px;

				}
			}
		}
	}
}

.septum {
	display: inline-block;
	width: 3px;
	height: 25px;
	background-color: var(--green);
	margin: 0px 20px;

	@media (max-width: 1400px) {
		height: calc(20px + (25 - 20) * ((100vw - 680px) / (1400 - 680)));
	}
}

.content {
	padding: 0px 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 40px;
	column-gap: 80px;

	@media (max-width: 1300px) {
		padding: 0px 25px;
	}

	@media (max-width: 1000px) {
		padding: 0px 20px;
	}

	@media (max-width: 730px) {
		padding: 0px 10px;
	}

	@media (max-width: 450px) {
		padding: 0px 5px;
	}
}

.buttonBack {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: fixed;
	bottom: 80px;
	right: 60px;
	background-color: transparent;
	cursor: pointer;
	animation: drive 1.8s linear infinite 0s;

	@keyframes drive {
		0% {
			transform: translateY(0px);
			opacity: 0.5;
		}

		50% {
			transform: translateY(-8px);
			opacity: 1;
		}

		100% {
			transform: translateY(0px);
			opacity: 0.5;
		}
	}

	&:hover {
		transform: translateY(0px);
		animation-name: none;
	}

	svg {
		fill: var(--green)
	}
}
