.label {
	display: inline-block;
	margin-right: 20px;
	min-width: 110px;
	text-align: end;
	font-size: 18px;
	color: var(--primary);
	align-self: flex-start;


	@media (max-width: 520px) {
		text-align: center;
		align-self: center;
		margin: 0px 0px 10px 0px;
	}
}

.ingredients {
	width: 100%;

	.ingredient {
		display: grid;
		grid-template-columns: [one] auto [two] 1fr [three] auto [four];
		column-gap: 10px;
		margin-bottom: 5px;
		@media (max-width: 810px) {
			grid-template-columns: [one] auto [two] 1fr [three];
			grid-template-rows: [t] auto [m] 1fr [b];
		}

		.image {
			img {
				width: 37px;
			}

			@media (max-width: 810px) {
				grid-column-start: two;
				grid-column-end: three;
			}

			@media (max-width: 520px) {}
		}

		.ingr {
			width: 400px;

			@media (max-width: 810px) {
				width: calc(270px + (400 - 270) * ((100vw - 520px) / (810 - 520)));
			}

			@media (max-width: 520px) {
				width: 100%;
			}
		}

		.meas {
			width: 120px;
		}

		.box {
			position: relative;

			@media (max-width: 810px) {
				grid-column-start: one;
				grid-column-end: three;
			}

			@media (max-width: 520px) {
				width: 100%;
			}
		}
	}
}


textarea.ingr,
textarea.meas {
	height: 40px;
	resize: none;
	display: inline-block;
	border: 2px solid var(--primary);
	background-color: var(--primary-light);
	border-radius: 5px;
	padding: 8px 10px;
	font-size: 15px;
	color: var(--primary3-light);

	&:focus {
		border: 2px solid var(--primary3);
	}
}

textarea.meas {
	@media (max-width: 810px) {
		grid-column-start: one;
		grid-column-end: two;
	}
}

.list {
	display: none;
	position: absolute;
	top: calc(100%);
	width: 200px;
	max-height: 180px;
	background-color: var(--primary3-light);
	overflow: auto;
	z-index: 5;
	border-radius: 5px;

	&.active {
		display: block;
	}

	.link {
		display: block;
		color: var(--primary2);
		font-size: 14px;
		cursor: pointer;

		&:hover {
			background-color: var(--primary3);
		}
	}

	&::-webkit-scrollbar {
		width: 8px;
		background-color: var(--primary3);
		border-radius: 5px;

	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--primary3-light);
		border-radius: 5px;

	}
}