.body {
	display: grid;
	grid-template-columns: 250px 1fr;
	padding: 40px 20px 80px 20px;
	text-align: center;
	column-gap: 30px;

	.input {
		position: relative;
		margin-top: 60px;
		align-self: start;

		input {
			border: 2px solid var(--brown);
			background-color: var(--brown-light);
			border-radius: 5px;
			padding: 8px 10px;
			width: 100%;
			font-size: 15px;
			color: var(--green-light);

			&:focus {
				border: 2px solid var(--green);
			}
		}

		.icon {
			position: absolute;
			width: 18px;
			height: 18px;
			top: calc(50% - 9px);
			right: 10px;
			opacity: 0.6;
			fill: var(--green-light);
			cursor: pointer;

			&:hover {
				fill: var(--green);
				opacity: 1;
			}
		}
	}

	.title {
		grid-column: span 2;
		font-size: 30px;
		color: var(--green);
		margin-bottom: 40px;

		span {
			color: var(--green-light);
			font-style: italic;
		}

	}

	.text {
		color: var(--grey-light);
		font-size: 14px;
		text-align: justify;
		margin-bottom: 10px;
		text-align: center;
	}

	
}

.radio {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	row-gap: 25px;
	align-items: flex-start;
	margin-left: 40px;
	color: var(--brown);
	font-size: 18px;

		.real {
			position: absolute;
			width: 0;
			height: 0;
			opacity: 0;
			z-index: -1;
		}

		.custom {
			position: relative;
			display: inline-block;
			width: 18px;
			height: 18px;
			border: 2px solid var(--brown);
			border-radius: 40%;
			margin-right: 10px;
			color: var(--brown);

		}

		.custom::before {
			content: '';
			display: inline-block;
			width: 10px;
			height: 10px;
			background-color: var(--brown);
			border-radius: 40%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) scale(0);
			transition: all 0.2s ease-in;
			
		}

		.real:checked + .custom::before {
			transform: translate(-50%, -50%) scale(1);
			color: var(--brown);
		}

		label {
			cursor: pointer;
		
	}
}