.search {
	display: flex;
	align-self: center;
	justify-self: end;

	@media (max-width: 880px) {
		grid-column-start: one;
		grid-column-end: two;
		justify-self: start;
	}

	.button {
		background-color: transparent;
		width: 50px;
		position: relative;
		cursor: pointer;

		@media (max-width: 1400px) {
			width: calc(30px + (50 - 30) * ((100vw - 320px) / (1400 - 320)));
		}
	}

	.icon {
		fill: var(--primary3);
		width: 40px;

		@media (max-width: 1400px) {
			width: calc(35px + (40 - 35) * ((100vw - 880px) / (1400 - 880)));
		}
	}
}