.row {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;

	@media (max-width: 880px) {
		flex-direction: column;
		align-items: center;
		margin-bottom: 0px;

	}
}

.image {
	position: relative;
	background: var(--brown-light);
	border: 2px solid var(--brown);
	border-radius: 10px;
	box-shadow: 0px 0px 11px 0px var(--brown);
	padding: 8px;
	margin-right: 50px;
	height: 260px;
	width: 260px;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: 880px) {
		max-width: 260px;
		margin-right: 0px;
		margin-bottom: 30px;
	}

	img {
		max-width: 240px;
	}
}


.description {
	display: flex;
	flex-direction: column;
	max-width: 650px;
	width: 100%;
	text-align: left;

	@media (max-width: 880px) {
		flex-direction: column;
		margin-bottom: 30px;
	}

	.top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;

		@media (max-width: 880px) {
			justify-content: center;
			margin-bottom: 20px;
		}

		@media (max-width: 520px) {
			justify-content: space-between;
		}

		.names {
			font-size: 24px;
			color: var(--brown);

			@media (max-width: 880px) {
				margin-right: 80px;
			}

		}

		.delete {
			display: inline-block;
			width: 22px;
			fill: var(--brown);
			cursor: pointer;

			&:hover {
				fill: var(--green);
			}
		}

	}

	.text {
		font-size: 14px;
		line-height: 22px;
		color: var(--grey-light);
		height: 100%;
		margin-bottom: 20px;
		text-align: left;

		@media (max-width: 880px) {
			margin-bottom: 30px;
		}
	}


	.label {
		font-size: 18px;
		margin-bottom: 20px;
		color: var(--green);

		@media (max-width: 880px) {
			margin: 0px auto 50px auto;
		}
	}
}