.item {
	background: var(--primary-light);
	border: 2px solid var(--primary);
	border-radius: 10px;
	width: 260px;
	padding: 8px;
	overflow: hidden;
	position: relative;
	transition: border 0.2s ease-in;
	box-shadow: 0px 0px 11px 0px var(--primary);

	.image {
		margin-bottom: 15px;
		max-width: 240px;
		width: 100%;

		img {
			object-fit: cover;
		}
	}

	.label {
		position: relative;
		font-size: 20px;
		font-weight: 600;
		color: var(--primary3);
		margin-bottom: 10px;
		cursor: pointer;
		z-index: 2;
	}

	.like {
		position: absolute;
		top: 10px;
		right: 10px;
		background-color: white;
		border-radius: 10px;
		border: 2px solid white;
		width: 32px;
		height: 32px;
		cursor: pointer;
		fill: transparent;
		stroke: var(--primary3);
		box-shadow: 0px 0px 9px 0px var(--primary3);

		&.active {
			stroke: var(--primary);
			fill: var(--primary);
			border: 2px solid var(--primary);
			box-shadow: 0px 0px 11px 0px var(--primary);
		}

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 22px;
		}
	}
}