.wrapper {
	width: 100%;
	overflow: hidden;
	padding: 5px 10px 5px 10px;
}

.container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	background-color: var(--grey);
	max-width: 1580px;
	margin: 0 auto;
	padding: 10px 15px 0px 15px;
	min-height: 100vh;
	border: 1px solid var(--brown);
	border-radius: 15px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	overflow: hidden;
}

