.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	padding: 5px 10px 0px 10px;
}

.container {
	background-color: var(--grey);
	max-width: 1580px;
	height: 100%;
	margin: 0 auto;
	padding: 10px 15px 0px 15px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	border: 1px solid var(--brown);
	border-radius: 15px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	overflow: hidden;
}