/* Clearance */
* {
	padding: 0;
	margin: 0;
	list-style: none;
	outline: none;
	font-family: 'Merriweather', Tahoma, sans-serif;
	box-sizing: border-box;
	border: none;
}

a {
	text-decoration: none;
}

body {
	background-color: var(--black);
	height: 100%;

}
body.lock {
	overflow: hidden;
	height: 100%;
}
/* Variables */
:root {
	--brown: #A15423;
	--brown-light: rgba(161, 84, 35, 0.05);
	--green: #7EC57F;
	--green-light: #c4e6c4;
	--grey: #252525;
	--grey-light: #b2adad;
	--black: #140F16;
	--black-light: rgba(20, 15, 22, 0.80);
	
}