.body {
	text-align: center;
}

.title {
	font-size: 30px;
	color: var(--primary3);
	margin: 40px 0px 50px 0px;
}

.text {
	color: var(--primary2-light);
	font-size: 14px;
	margin-bottom: 30px;
}

.image {
	max-width: 500px;
}